// @Author: Nicolas Fazio <webmaster-fazio>
// @Date:   13-06-2017
// @Email:  contact@nicolasfazio.ch
// @Last modified by:   webmaster-fazio
// @Last modified time: 15-06-2017

ngzio-controls {
    ion-fab[bottom] {
      position: fixed;
    }
    .fab {

      background: #fff!important;
      border: solid 1px #64b5f6;
      transition: all 350ms ease;
      -webkit-transition: -webkit-transform all 350ms ease;

      ion-icon{
        color: #64b5f6!important;
      }
    }
    .fab.fab-ios {
      font-size: 1rem;
    }

    .fab.fab-close-active {

      ion-icon{
        color: #64b5f6!important;
      }
    }
    .fab.fab-ios-in-list.show {

      ion-icon{
        color: #64b5f6!important;
      }
    }
}
